@import "../../../styles/sass/abstracts/variables";

.BillingInfo {
    background-color: rgb(248, 249, 250);
    border-radius: $border-radius-small;
    padding: $spacing-medium;
    margin-bottom: $spacing-large;
}

.BillingInfoHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing-medium;
}

.buttonContainer {
    display: flex;
}

.infoContainer {
    display: flex;
    font-size: $font-small;
    color: $grey;

    &:not(:last-of-type) {
        margin-bottom: $spacing-xxsmall;
    }
}

.data {
    font-weight: bold;
    margin-left: $spacing-small;
    color: $black;
    letter-spacing: 0.025rem;
}
