@import "../../../../styles/sass/abstracts/variables";

.LngBtnBlack {
    background-image: $gradient-black;
    color: $white;
    margin-bottom: $spacing-small;
    padding: 1.25rem 2.5rem;
    font-size: $font-small;
    border-radius: $border-radius-xsmall;
    box-shadow: $shadow-soft;

    &:hover {
        cursor: pointer;
    }
}
