@import "../../../styles/sass/abstracts/variables";

.TableHeader {
    width: 98%;
    padding: 3rem 2rem;
    background: $gradient-blue;
    color: $white;
    border-radius: $border-radius;
    box-shadow: $shadow-blue;
    position: absolute;
    top: -2rem;
}
