@import "../../../../styles/sass/abstracts/variables";

.author {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    margin-right: 1rem;
}

.name {
    font-weight: bold;
    margin-bottom: $spacing-xxsmall;
}

.role {
    font-weight: bold;
}

.online {
    width: min-content;
    padding: 0.5rem 0.5rem;
    border-radius: $border-radius-xsmall;
    font-size: $font-small;
    background: $gradient-blue;
    color: white;
}

.offline {
    width: min-content;
    padding: 0.5rem 0.5rem;
    border-radius: $border-radius-xsmall;
    font-size: $font-small;
    background-color: black;
    color: white;
}
