@import "../../../../styles/sass/abstracts/variables";

.name {
    font-weight: bold;
    margin-left: $spacing-xsmall;
}

.role {
    font-weight: bold;
}

.status {
    font-weight: normal;
}

.online {
    width: min-content;
    padding: 0.5rem 0.5rem;
    border-radius: $border-radius-xsmall;
    font-size: $font-small;
    background: $gradient-green;
    color: white;
}

.offline {
    width: min-content;
    padding: 0.5rem 0.5rem;
    border-radius: $border-radius-xsmall;
    font-size: $font-small;
    background-color: black;
    color: white;
}

.action {
    text-align: center;
}
