@import "../../../../styles/sass/abstracts/variables";

.QuickTile {
    position: relative;
    padding: $spacing-medium;
    border-radius: $border-radius;
    background-color: white;
    box-shadow: $shadow-std;
}

.QuickTileDetails {
    display: flex;
    justify-content: flex-end;
    margin-bottom: $spacing-small;
}

.iconContainer {
    position: absolute;
    top: -1.5rem;
    left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $spacing-medium;
    border-radius: $border-radius;
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.title {
    color: $grey;
    font-weight: lighter;
    margin-bottom: $spacing-xxsmall;
}

.data {
    font-size: 2.2rem;
    color: $black;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.summary {
    margin-top: $spacing-small;
    display: flex;
    justify-self: between;
}

.percent {
    color: rgb(76, 175, 80);
    font-weight: normal;
}

.summaryText {
    color: $grey;
    font-weight: lighter;
}
