@import "../../../styles/sass/abstracts/variables";

.Navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 1rem;
    background-color: $background-color;
    opacity: 0.94;
    z-index: 4;

    @media (max-width: 600px) {
        flex-direction: column;
    }
}

.NavbarPath {
    display: flex;
    margin-bottom: $spacing-xxsmall;

    & span {
        margin-left: $spacing-small;
    }
}

.NavbarSectionOne {
    @media (max-width: 767px) {
        align-self: flex-start;
    }
}

.NavbarSectionTwo {
    display: flex;
    align-items: center;

    & > :not(:first-child) {
        margin-left: $spacing-small;
    }

    & button {
        background-color: $blue;
        color: $white;
        padding: $spacing-small $spacing-medium;
        border: none;
        border-radius: $border-radius-small;

        &:hover {
            box-shadow: $shadow-blue;
        }
    }

    @media (max-width: 600px) {
        flex: 1;
        align-self: flex-end;
        justify-content: space-between;
        width: 100%;
        margin-top: $spacing-xxsmall;
    }
}

.NavbarSectionTwoMenuIcon {
    display: none;
    cursor: pointer;

    @media (max-width: 1200px) {
        display: block;
    }
}

.NavbarSearchGroup {
    position: relative;

    & label {
        position: absolute;
        top: 1.2rem;
        left: 1rem;
        font-size: 1.2rem;
        color: $grey;
        transition: all 0.1s;
    }

    & input {
        padding: $spacing-xsmall;
        padding-right: 0;
        border: 1px solid rgb(210, 210, 210);
        border-radius: $border-radius-xsmall;
        background-color: $background-color;

        &:focus {
            outline: $blue solid 2px;

            & ~ label {
                top: -0.8rem;
                left: 0.8rem;
                z-index: 10;
                padding: 0 0.2rem;
                background-color: $background-color;
                color: $blue;
            }
        }

        @media (max-width: 767px) {
        }
    }
}
