@import "../../../../styles/sass/abstracts/variables";

.Sidebar {
    width: 25rem;
    height: calc(100vh - 2rem);
    display: flex;
    flex-direction: column;
    margin: $spacing-xsmall;
    padding: $spacing-xsmall;
    background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
    color: $white;
    font-weight: 100;
    border-radius: $font-small;
}

.SidebarHeaderSection {
    display: flex;
    justify-content: center;
    padding: $spacing-large 0;
    border-bottom: 1px solid $white
}

.SidebarHeader {
    font-weight: 500
}

.SidebarListSection {
    padding: $spacing-large 0;
}

.SidebarList {
    list-style: none;
}