@import "../../../../styles/sass/abstracts/variables";

.SidebarListItem {
    display: flex;
    align-items: center;
    padding: $spacing-small;
    margin-bottom: $spacing-small;
    border-radius: $font-small;
    transition: all .1s
}

.SidebarListItemTitle {
    margin-left: $spacing-medium
}

.SidebarListItem:hover {
    background-color: $grey;
}