@import "../../../../styles/sass/abstracts/variables";

.Member {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    margin: -0.4rem;
    font-size: $font-small;

    &:hover {
        cursor: pointer;
    }
}
