@import "../../../styles/sass/abstracts/variables";

.page {
    margin-top: $spacing-large;

    & > * {
        margin-bottom: $spacing-large;
    }
}

.QuickTileSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;

    @media (max-width: 992px) {
        grid-template-columns: 1fr 1fr;
        row-gap: 2.5rem;
    }

    @media (max-width: 767px) {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }
}

.ChartSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    margin-top: $spacing-xxlarge;

    @media (max-width: 992px) {
        grid-template-columns: 1fr 1fr;
        row-gap: 5rem;
    }

    @media (max-width: 767px) {
        grid-template-columns: 1fr;
        row-gap: 5rem;
    }
}

.ProjectsAndOrdersContainer {
    display: flex;

    @media (max-width: 767px) {
        flex-direction: column;;
    }
}

.ProjectsSection {
    background-color: white;
    flex: 2;
    padding: $spacing-medium;
    border-radius: $font-default;
    box-shadow: 0px 4px 6px 0px rgba(168,168,168,1);

    & header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $grey;
        position: relative;
    }

    @media (max-width: 992px) {
        flex: 1
    }
}

.ProjectsHeaderSection1 {
    display: flex;
    flex-direction: column;

}

.ProjectsHeaderTitle {
    color: $black;
    font-weight: bold;
    margin-bottom: $spacing-xxsmall;
}

.popupMenu {
    position: absolute;
    background-color: white;
    border-radius: $font-default;
    top: 1rem;
    right: 2rem;
    padding: $spacing-xxsmall;
    box-shadow: 0px 4px 6px 0px rgba(168,168,168,1);
}

.popupMenuItem {
    text-transform: capitalize;
    padding: $spacing-xsmall;
    transition: all .2s;
    border-radius: 1rem;

    &:hover {
        background-color: $lightGrey;
        cursor: pointer;
    }
}

.OrdersSection {
    flex: 1;
    background-color: white;
    padding: $spacing-medium;
    border-radius: $font-default;
    margin-left: $spacing-medium;
    box-shadow: 0px 4px 6px 0px rgba(168,168,168,1);

    & header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $grey;
        position: relative;
    }

    @media (max-width: 767px) {
        margin-left: 0;
        margin-top: $spacing-large;
    }
}

.OrdersHeaderSection1 {
    display: flex;
    flex-direction: column;

}

.OrdersHeaderTitle {
    color: $black;
    font-weight: bold;
    margin-bottom: $spacing-xxsmall;
}
