//colors
$background-color: rgb(240, 242, 245);
$white: rgb(244, 244, 244);
$grey: rgb(109, 109, 109);
$blue: rgb(26, 115, 232);
$black: rgb(25, 25, 25);
$green: rgb(67, 160, 71);
$pink: rgb(216, 27, 96);

//spacing
$spacing-xxsmall: .5rem;
$spacing-xsmall: 1rem;
$spacing-small: 1.5rem;
$spacing-medium: 2rem;
$spacing-large: 3rem;
$spacing-xlarge: 4rem;
$spacing-xxlarge: 5rem;

//font size
$font-small: 1rem;
$font-default: 1.6rem;
$font-medium: 2.5rem;
$font-large: 3.5rem;
$font-xlarge: 5rem;